.possibleAnswers > div {
    height: 100px;
    width:100%;
    background-color:$secondaryFontColor;
    border: 1px solid black;
    padding:20px;
    margin: 20px;
}

.hideMe {
    display:none;
}

.blockMe {
    display:block;
 
}

