.possible-answers {
    width: 50%;
    @include display-flex(row,flex-start,flex-start);
    flex-wrap: wrap;
    text-align:center;
}

.possible-answers > div {
    height: 100px;
    width: calc(50% - 40px);
    border: 1px solid black;
    padding:20px;
    margin: 20px;

    &:focus  {
        border:green 2px solid;
    }
}

.answer-background {
    background-color:$secondary-font-color;

}

.hide-me {
    display:none;
}

.block-me {
    display:block;
 
}

.generation {
    border: none;
    background-color:$primary-color;
    color:$secondary-color;
    font-family: $primary-font;
}
