.right-header {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: $secondary-color;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233b4856' fill-opacity='0.19'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");




    form {
        @include display-flex(column, center, center);
        margin-top: 25%;
        font-family: $primary-font;
        color: $secondary-font-color;
        border: 2px solid $primary-font-color;
        font-size: 1rem;
        background-color: $primary-color;
        position: relative;
        top: 13rem;
        width: 40%;
        padding: 4rem 0;
        margin: 0 auto;



        label {
            font-size: 1.5rem;
        }

        input {
            margin-top: 10px;
            border: none;
            padding: 10px 10px;
            color: $secondary-font-color;
            border-bottom: 2px solid $secondary-font-color;
            background-color: transparent;
            text-align: center;


            &:focus {
                box-shadow: 0 8px 6px -6px $primary-font-color;

            }
        }

        a {
            margin-top: 1rem;
            text-decoration: none;
            color: $secondary-color;
            font-family: $primary-font;
            transition: .3s all linear; 

            &:hover,
            &:focus-within {
                color:white;
           
            }
        }
    }

}


.no-name-popup {
    background-color: rgba($primary-color, .7);
    color: $secondary-font-color;
    text-align: center;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;

    .popup-container {
        font-size: 1rem;
        font-family: $primary-font;
    }
}


.good-luck-message {
    font-family: $primary-font;
    color: $primary-color;
    font-size: 1.2rem;
    position: relative;
    bottom: 2rem;
    right: 3rem;
    padding-top:1.5rem;
}