.right-header {
    width: 90%;
    height: 100vh;
   transform: translateY(-23rem);
   z-index:-1;  

    form {
        @include display-flex(column, center, center);
        font-family:$primary-font;
        color: $primary-color;
        font-size:1rem;

        label {
            font-size:1.5rem;
        }

        input{
            margin-top:10px;
            border:none;
            padding:0 10px;
            border-bottom: 3px solid $primary-color;
            background-color:transparent;
            text-align:center;

            &:focus {
               box-shadow: 0 8px 6px -6px $primary-color;
               
            }
        }
        a {
            margin-top:1rem;
            text-decoration: none;
            color:$primary-color;
            font-family: $primary-font;
        }
    }

}

