.instructions {
    width: 50%;
    height: 90vh;
    padding: 3rem;
    color:$secondary-Font-Color;
    top: 10%;
    letter-spacing: 1.2px;
    background-color: $primary-Color;
    border:2px solid $primary-Color;
    text-align:center;
    @include displayFlex(row, flex-start, center);
    position:relative;

    button {
        color:$secondary-Color;
        padding:10px;
        background-color:$primary-Color;
        border:none;

        &:hover {
            border: 2px solid $primary-Font-Color;

        }
    }
}

