.instructions {
    width: 50%;
    height: 90vh;
    color:$secondaryFontColor;
    letter-spacing: 1.2px;
    background-color: $primaryColor;
    border:2px solid $primaryColor;
    padding: 3rem;
    text-align:center;
    display:flex;
    flex-direction:row;
    
 
    position:relative;
    top: 10%;
    

    a {
        text-decoration:none;
        color:$primaryFontColor;
        padding:10px;

        &:hover {
            border: 1px solid $primaryFontColor;

        }
    }
}

.instructionBox {
  
}