.instructions {
    width: 100%;
    height: 100vh;
    padding: 3rem;
    color:$secondary-font-color;
    top: 10%;
    letter-spacing: 1.2px;
       background-color: $primary-color;
       background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233b4856' fill-opacity='0.33'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
     /* background by SVGBackgrounds.com */
    border:2px solid $primary-color;
    text-align:center;
    @include display-flex(row, flex-start, center);
    position:relative;
    //  transition: 1s all linear;

    button {
        color:$secondary-color;
        padding:10px;
        background-color:$primary-color;
        border:none;

        &:hover {
            border: 2px solid $primary-font-color;

        }
    }
    
}

.box-1,
.box-2 {
    width: 3rem;
    height: 4px;
    border-radius: 25%;
    background-color:$secondary-color;
    margin: 5px;


}

.box-2 {
    transform: rotate(270deg) translateX(13px)
}

.instruction-close {
    @include display-flex(column, center, center);
    position: relative;
    right: 2rem;
    opacity:0;
}


@keyframes menuFold {
   0% {
       width:100%;
   }
   100%{
      width: 4rem;
   }
       
}