// $lg-desktop: "only screen and (max-width: 1440px)";
// $med-desktop: "only screen and (max-width: 1280px)";
// $lg-tablet: "only screen and (max-width:1000px)";
// $med-tablet: "only screen and (max-width: 850px)";
// $sm-tablet: "only screen and (max-width: 800px)";
// $lg-phone: "only screen and (max-width: 700px)";
// $med-phone: "only screen and (max-width: 550px)";
// $sm-phone: "only screen and (max-width: 350px)";

@media #{$med-tablet} {

    .question-block {
        width: 70%;
    }
    .header-inside {
        margin: 0 2rem;
    }
    .possible-answers {
        width:76%;
      
    }

}

.counter{
    width:15%;
}

.instructions {

    .instruction-box{
        width: 77%;

    }

}

@media #{$lg-phone} {
    .header-inside {
        margin: 0 .5rem;
        font-size:.8rem;
    }

    .counter {
        width:5%;
    }

}

@media #{$med-phone} {

    .question-block {
        width:100%;
        padding:10px;
        transform:translateY(9rem);
        border:none;

    }

    .right-header {
            width:100%;
            transform: none;

        form {
            top:4rem;
            padding:0;
            width: 100%;
            background-color: rgba($primary-color, .9);
            height:60vh;
        }
    }


    .possible-answers {
        @include display-flex(column, center, center);
        width:100%;
        margin-top:7rem;

        & > button {
            width:100%;
            margin: 12px 0;
            text-align:center; 
            height: 3rem;
            padding:6px; 
        }
    }

    .next-question {
        transform:translateY(-500px);
    }

    .lyrics {
        font-size: 1.4rem;
        padding:10px;
    }

    .instructions {
        width:100%;
        height:100vh;
        

        .instruction-box {
            width:100%;
        }
    }


    .flex-this {
        @include display-flex(column, center, center);
    }
    .right-page-form {
        width:100%;
    }

    main {
        height: 84vh;
    }
}
