.question-block {
    width: 50%;
    height: 65vh;
    border: 2px solid black;
    background-color:$secondary-color;
    margin-bottom:20px;
    color: $primary-font-color;
    font-size:2rem;
    text-align: center;
    // @include display-flex(column, flex-start, center);

    .lyrics {
        font-family: $primary-font;

    }
}

.question-container {
    @include display-flex(column, center, center);
    margin-top:8%;

    .generation {
        width: 80%;
        padding: 20px;
        margin: 20px;

    }
}