.question-block {
    width: 50%;
    height: 65vh;
    border: 2px solid $primary-font-color;
    background-color:$secondary-color;
    margin-bottom:20px;
    color: $primary-font-color;
    text-align: center;
    opacity:0;
    
    .lyrics {
        font-size:2rem;
        font-family: $secondary-font;
        padding:0 1rem;

    }
}

.question-container {
    @include display-flex(column, center, center);
    margin-top:10%;

    .generation {
        width: 80%;
        padding: 20px;
        margin: 20px;
        border: 2px solid $primary-font-color;
        transition: all .4s linear;
        transform:scale(1);

        &:hover {
            border: 2px solid $secondary-font-color;
            background-color:$primary-font-color;
            transform: scale(1.1);

        
        }

    }
}


@keyframes change-color {
    0% {
        background-image: linear-gradient()
    }
}