.question-block {
    width: 50%;
    height: 62vh;
    border: 2px solid black;
    background-color:$secondary-Color;
    margin-bottom:20px;
    color: $primary-Font-Color;
    font-size:2rem;
    text-align: center;
}

.question-container {
    @include displayFlex(column, center, center);
    margin-top:8%;

    .generation {
        width: 80%;
        padding: 20px;
        margin: 20px;

    }
}