// COLORS

$primary-color:#202f3e;
$secondary-color: #e39e21;
$primary-font-color:#3b4856;
$secondary-font-color: #f1faff;


//FONTS

//  STANDARD @IMPORT 

// font-family: "Inconsolata",
// monospace;

// font-family: "Karla",
// sans-serif;

$secondary-font: "Inconsolata", monospace;
$primary-font: "karla", sans-serif;

//MIXINS

@mixin display-flex ($direction, $justify, $align){
    display:flex;
    flex-direction:$direction;
    justify-content: $justify;
    align-items:$align;
    
}
$lg-desktop: "only screen and (max-width: 1440px)";
$med-desktop: "only screen and (max-width: 1280px)";
$lg-tablet: "only screen and (max-width:1000px)";
$med-tablet: "only screen and (max-width: 850px)";
$sm-tablet: "only screen and (max-width: 800px)";
$lg-phone: "only screen and (max-width: 700px)";
$med-phone: "only screen and (max-width: 550px)";
$sm-phone: "only screen and (max-width: 350px)";



// $information-phone: "only screen and (max-width : 320px)";

// @media #{$information-phone} {
//     background: red;
// }