// COLORS

$primaryColor:#202f3e;
$secondaryColor: #e39e21;
$primaryFontColor:#3b4856;
$secondaryFontColor: #f1faff;


//FONTS

$titleFont: 'Permanent Marker', cursive;
$primaryFont: 'Pontano Sans', sans-serif;