article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

body {
  max-height: 100vh;
  overflow: hidden;
  background-color: #202f3e;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233b4856' fill-opacity='0.33'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h4 {
  padding: 0;
  margin: 0;
}

.next-round {
  margin-top: 2rem;
  padding: 20px;
  background-color: #17222d;
  border: 2px solid #3b4856;
  font-size: 1rem;
  color: #f1faff;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.next-round:hover, .next-round:focus-within {
  background-color: #202f3e;
  border: 2px solid #e39e21;
}

.next-question {
  margin-top: 0.5rem;
}

header {
  margin-bottom: 5%;
  height: 100vh;
}

header .header-content {
  position: fixed;
  background-color: #202e3d;
  width: 100%;
  height: 11vh;
  z-index: 1000;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.1rem 7rem;
}

.header-inside i {
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #e39e21;
  -webkit-animation: spin linear infinite 1s;
          animation: spin linear infinite 1s;
}

#title {
  color: black;
  font-size: 40px;
}

h1 {
  width: 100%;
  font-family: "Inconsolata", monospace;
  color: #e39e21;
  letter-spacing: 1.5px;
  margin: 0 auto;
  margin-left: 1rem;
}

.counter {
  justify-self: flex-end;
  text-align: right;
  width: 40%;
  color: #e39e21;
  font-size: 1.4rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.instructions {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  top: 10%;
  z-index: 20;
  background-color: #202f3e;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233b4856' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.instructions .instruction-box {
  color: #202f3e;
  letter-spacing: 1.2px;
  text-align: center;
  background-color: rgba(213, 147, 27, 0.9);
  padding: 2.5rem 1rem;
  width: 40%;
  font-family: "karla", sans-serif;
}

.instructions button {
  color: #f1faff;
  padding: 10px;
  border: none;
  background: none;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.instructions button:hover, .instructions button:focus {
  color: #202f3e;
}

.instruction-box h2 {
  color: #f1faff;
}

.icon-box {
  display: block;
  z-index: 1;
}

.box-1,
.box-2 {
  width: 2rem;
  height: 4px;
  border-radius: 25%;
  background-color: #e39e21;
}

.box-2 {
  -webkit-transform: rotate(270deg) translateX(3px);
          transform: rotate(270deg) translateX(3px);
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  -webkit-transition: 1s all linear;
  transition: 1s all linear;
}

.icon-box:hover {
  -webkit-transform: rotate(226deg);
          transform: rotate(226deg);
}

.instruction-close {
  position: relative;
  opacity: 0;
}

@-webkit-keyframes menuFold {
  0% {
    width: 100%;
  }
  100% {
    width: 4rem;
  }
}

@keyframes menuFold {
  0% {
    width: 100%;
  }
  100% {
    width: 4rem;
  }
}

.right-header {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #e39e21;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233b4856' fill-opacity='0.19'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.right-header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25%;
  font-family: "karla", sans-serif;
  color: #f1faff;
  border: 2px solid #3b4856;
  font-size: 1rem;
  background-color: #202f3e;
  position: relative;
  top: 13rem;
  width: 40%;
  padding: 4rem 0;
  margin: 0 auto;
}

.right-header form label {
  font-size: 1.5rem;
}

.right-header form input {
  margin-top: 10px;
  border: none;
  padding: 10px 10px;
  color: #f1faff;
  border-bottom: 2px solid #f1faff;
  background-color: transparent;
  text-align: center;
}

.right-header form input:focus {
  -webkit-box-shadow: 0 8px 6px -6px #3b4856;
          box-shadow: 0 8px 6px -6px #3b4856;
}

.right-header form a {
  margin-top: 1rem;
  text-decoration: none;
  color: #e39e21;
  font-family: "karla", sans-serif;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.right-header form a:hover, .right-header form a:focus-within {
  color: white;
}

.no-name-popup {
  background-color: rgba(32, 47, 62, 0.7);
  color: #f1faff;
  text-align: center;
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
}

.no-name-popup .popup-container {
  font-size: 1rem;
  font-family: "karla", sans-serif;
}

.good-luck-message {
  font-family: "karla", sans-serif;
  color: #202f3e;
  font-size: 1.2rem;
  position: relative;
  bottom: 2rem;
  right: 3rem;
  padding-top: 1.5rem;
}

main {
  position: absolute;
  height: 82vh;
  margin-top: 15%;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.possible-answers {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.possible-answers > button {
  height: 100px;
  width: calc(50% - 40px);
  border: 1px solid #3b4856;
  padding: 20px;
  margin: 20px;
  color: #f1faff;
  background-color: #17222d;
}

.possible-answers > button:focus-within {
  background-color: #202f3e;
}

.answer-background {
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

.answer-background:hover, .answer-background:focus-within {
  background-color: #3b4856;
  border: 1px solid #e39e21;
}

.hide-me {
  display: none;
}

.block-me {
  display: block;
}

.next-level-gen {
  border: none;
  background-color: #202f3e;
  color: #e39e21;
  font-family: "karla", sans-serif;
}

.question-block {
  width: 50%;
  height: 53vh;
  border: 2px solid #3b4856;
  background-color: #e39e21;
  margin-bottom: 20px;
  color: #3b4856;
  text-align: center;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-block .lyrics {
  font-size: 1.3rem;
  font-family: "karla", sans-serif;
  padding: 0 2rem;
}

.question-block h3,
.question-block li {
  font-family: "karla", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
}

.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.question-container .generation {
  width: 80%;
  padding: 20px;
  margin: 20px;
  border: 2px solid #3b4856;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  color: #f1faff;
  background-color: #202f3e;
}

.question-container .generation:hover, .question-container .generation:focus-within {
  border: 2px solid #f1faff;
  background-color: #3b4856;
}

.right-page-form {
  position: relative;
}

.user-score {
  background: #202f3e;
  font-family: "karla", sans-serif;
  width: 50%;
  margin: 0 auto;
  color: #e39e21;
  padding: 2.5rem;
  border: 2px solid #3b4856;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5000;
}

.user-score button {
  width: 70%;
  background-color: #e39e21;
  color: #202f3e;
  margin: 1rem;
  padding: 0.8rem;
}

.user-score button:hover, .user-score button:focus-within {
  background-color: #cc8c1a;
  border: 1px solid #f1faff;
}

@media lg-desktop {
  .question-block {
    width: 50%;
    height: 49vh;
    margin-top: 9rem;
  }
}

@media only screen and (max-width: 1280px) {
  main {
    margin-top: 19%;
  }
}

@media only screen and (max-width: 1000px) {
  .question-block {
    margin: 2% 0 0 4%;
  }
  .possible-answers {
    margin-left: 4%;
  }
  .user-score {
    margin-left: 29%;
  }
}

@media only screen and (max-width: 850px) {
  .header-inside {
    margin: 1.1rem 2rem;
  }
  .counter {
    width: 15%;
  }
  .instructions .instruction-box {
    width: 77%;
  }
  .question-block {
    width: 70%;
    margin-top: 4%;
  }
  .possible-answers {
    width: 76%;
  }
  .user-score {
    margin-left: 18%;
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .question-block {
    margin-top: 8%;
  }
}

@media only screen and (max-width: 700px) {
  .header-inside {
    margin: 1.1rem .5rem;
    font-size: .8rem;
  }
  .counter {
    width: 5%;
  }
  .question-block {
    width: 73%;
    margin: 14% 0 0 12%;
  }
  .next-question {
    margin-left: 12%;
  }
  .possible-answers {
    margin-left: 12%;
  }
  .user-score {
    margin-left: 21%;
  }
  .right-header form {
    width: 70%;
    margin-left: 21%;
  }
}

@media only screen and (max-width: 550px) {
  main {
    margin-top: 0;
  }
  .question-block {
    width: 100%;
    height: 44vh;
    margin-left: 0;
    padding: 10px;
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
    border: 1px solid #202f3e;
  }
  .right-header {
    width: 100%;
    -webkit-transform: none;
            transform: none;
  }
  .right-header form {
    width: 100%;
    height: 60vh;
    top: 4rem;
    margin-left: 0;
    padding: 0;
    background-color: #202f3e;
  }
  .main-flex-container {
    padding-top: 2.25rem;
  }
  .possible-answers {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: tranlateY(-2rem);
            transform: tranlateY(-2rem);
    margin-left: 0;
    padding-top: 2rem;
  }
  .possible-answers > button {
    width: 100%;
    margin: 12px 0;
    text-align: center;
    height: 3rem;
    padding: 6px;
  }
  .next-question {
    margin: 37% 0 0 0;
  }
  .lyrics {
    font-size: 1.4rem;
    padding: 10px;
  }
  .main-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right-page-form {
    width: 100%;
  }
  main {
    height: 84vh;
  }
  .user-score {
    width: 100%;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
    margin: 0;
  }
}

@media only screen and (max-width: 550px) {
  .right-header form {
    top: 7rem;
  }
}

@media only screen and (max-width: 400px) {
  .question-block {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
    margin-top: 30%;
  }
  .good-luck-message {
    font-size: 1rem;
  }
  .user-score button {
    width: 100%;
  }
  .right-header form label {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */